:root {
  --light-background: #F5F5F5;
  --light-font: #212121;

  --dark-background: #130005;
  --dark-font: #FFFFFF;

    --button: #9E9E9E;

  /* Intentions */
  --primary: var(--light-background);
  --secondary: var(--light-font);
}

.light {
  --primary: var(--light-background);
  --secondary: var(--light-font);
}

.dark {
  --primary: var(--dark-background);
  --secondary: var(--dark-font);
}

.hero {
  background-color: var(--primary);
}

.main {
  background-color: var(--secondary);
  height: 90vh;
}

html,
body,
* {
  font-size: 10px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}


.caprasimo-regular {
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #212121;
  background: #FFFFFF;
  line-height: 1.15;
  font-size: 16px;
}