:root {
  --light-background: #F5F5F5;
  --light-font: #212121;

  --dark-background: #130005;
  --dark-font: #FFFFFF;

    --button: #9E9E9E;

  /* Intentions */
  --primary: var(--light-background);
  --secondary: var(--light-font);
}

.light {
  --primary: var(--light-background);
  --secondary: var(--light-font);
}

.dark {
  --primary: var(--dark-background);
  --secondary: var(--dark-font);
}

.hero {
  background-color: var(--primary);
}

.main {
  background-color: var(--secondary);
  height: 90vh;
}