:root {
  --light-background: #F5F5F5;
  --light-font: #212121;
  --dark-background: #130005;
  --dark-font: #FFFFFF;
  --button: #9E9E9E;
  --primary: var(--light-background);
  --secondary: var(--light-font);
}

.light {
  --primary: var(--light-background);
  --secondary: var(--light-font);
}

.dark {
  --primary: var(--dark-background);
  --secondary: var(--dark-font);
}

.hero {
  background-color: var(--primary);
}

.main {
  background-color: var(--secondary);
  height: 90vh;
}

html,
body,
* {
  font-size: 20px;
  color: var(--secondary);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: var(--primary);
  
}


.caprasimo-regular {
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
}

button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 56px;
  height: 45px;
  line-height: 45px;
  border-radius: 7px;
  background-color: #0070f3;
  color: white;
  font-weight: 400;
  font-size: 16px;
  box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
  transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
  :hover{
    background: rgba(0,118,255,0.9);
    box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
  }
                
}

.card {
  text-align: center;
  border: 3px solid #9E9E9E;
  padding: 15px;
  margin: 15px;
  width: 300px;
  height: 400px;
  box-shadow: 10px 10px 10px 2px #0070f3;
  transition: 0.3s;
}

@media screen and (max-width: 800px) {
  .container{
    flex-direction: column;
  }
  .card{
    width: 100%;
  }
}


.card:hover {
  transform: scale(1.1);
}

input {
  padding: 10px;
  margin: 10px;
}

h1 {
  text-align: center;
  font-size: 50px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 17px;
}

h4 {
  font-size: 14px;
}